.form {
  display: flex;
  justify-content: center;
}
.form div {
  display: flex;
  justify-content: space-between;
}
.form input {
  width: 110px;
}
.form button {
  height: 30px;
  background-color: transparent;
  color: rgb(251, 91, 91);
  border-style: none;
  font-size: medium;
  cursor: pointer;
  margin-left: 50px;
}
